*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{

    width: 100%;
    height: 100vh;
    background-color: #1336e3;
    border: 1px solid #000;

}

input[type="text"]{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
    color: aqua;
    background-color: #17204f;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #040e22;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background-color: #4de00e;
    color: #000;
}

#images img {
    width: 80px;   
    height: auto;
    object-fit: contain;
}

#images div {
    color: #fff;
    font-size: 14px;
    margin: 5px;
}

#centerer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}